body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
}

.header {
    border-bottom: 3px solid #32b9cd;
}

.container {
    display: flex;
    width: 80%;
    margin: auto;
}

.header .container {
    justify-content: space-between;
}

.titulo {
    color: #32b9cd;

}

.navbar {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    width: 300px;
    color: #e3b062;
    align-items: center;
}

.banner {
    padding: 40px 0px;
    color: #fff;
    background-image: url("imagens/bg-jelly-fish-para_outras_pags.png");
    height: 400px;
}

.banner .container {
    justify-content: center;
    align-items: center;
    height: 100%;
}

.banner .container p {
    font-size: 36px;
    width: 25%;
}

.banner .container p span {
    font-weight: bold;
}

.social {
    background-color: #fff;
    padding: 40px;
}

.social .container {
    justify-content: space-between;
}

.social .card {
    width: 150px;
    text-align: center;
}

.card img {
    width: 100px;
    align-self: center;
}

.card h4{
    font-size: 24px;
}

.footer {
    height: 100px;
    background-color: #32b9cd;
}

.footer .container {
    height: 100%;
    justify-content: center;
    align-items: center;
}

.footer .container p {
    font-weight: bold;
}

.login .container {
    justify-content: center;
    align-items: center;
    background-image: url(imagens/bg-jelly-fish-para_outras_pags.png);
    background-size: cover;
    height: 75vh;
}

.cadastro .container {
    justify-content: center;
    align-items: center;
    background-image: url(imagens/bg-jelly-fish-para_outras_pags.png);
    background-size: cover;
    height: 75vh;
}

.login .card {
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    border: 2px solid #32b9cd;
    height: fit-content;
    padding-bottom: 10px;
}

.cadastro .card {
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    border: 2px solid #32b9cd;
    height: fit-content;
    padding-bottom: 10px;
}

.card h2 {
    color: palevioletred;
}

.campo {
    width: 79%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: palevioletred;
}

.campo label {
    display: flex;
    align-self: self-start;
}

.campo input {
    width: 200px;
    padding: 7px 15px;
    border: 2px solid #32b9cd;
    text-align: center;
    margin-bottom: 5px;
}

.formulario button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: palevioletred;
    color: #fff;
    border: none;
    cursor: pointer;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header a {
    text-decoration: none;
    color: #e3b062;
}

.agora {
    font-weight: 800;
}